*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),
     rgba(0,0,0,0.7)),url(/images/hpbg.jpg);
     background-position: center;
     background-size: cover;
     padding-left: 28px;
     padding-right: 28px;
     padding-top: 10px;
     box-sizing: border-box;
}

.container-gallery{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),
     rgba(0,0,0,0.7)),url(/images/hpbg.jpg);
     background-position: center;
     background-size: cover;
     padding-left: 28px;
     padding-right: 28px;
     padding-top: 10px;
     box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    
}
.logo {
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 80px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 100px;
}
p{
    text-indent: 40px;
    margin-left: 20px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

button{
    width: 180px;
    color: #000;
    font-size: 15px;
    padding: 12px 0;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
.card{
    width: 160px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/HPATCOS_Hero_OnGrey.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(/images/HPATCOS_Hero_OnGrey.png);
}
.card2{
    background-image: url(/images/HPATHBP_Hero_OnGrey.png);
}
.card3{
    background-image: url(/images/HPATOOTP_Hero_OnGrey.png);
}
.card4{
    background-image: url(/images/HPATPOA_Hero_OnGrey.png);
}
.card5{
    background-image: url(/images/HPATDH_Hero_OnGrey.png);
}
.card6{
    background-image: url(/images/HPATGOF_Hero_OnGrey.png);
}
.card:hover{
    transform: translateY(-10px);
}

.harry{
    margin-top: 20px;
    width: 600px;
    cursor: pointer;
}
.jkr{
    margin-top: 105px;
    width: 300px;
    cursor: pointer;
}

.centeralign{
    text-align: center;
}